.countries_container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

.country_container {
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.18);

  .country_item {
    border-radius: 10px;
    box-shadow: 1px 2px 17px black;
    transition-duration: 0.5s;
    height: 30px;
    &.active{
      box-shadow: 1px 2px 17px rgb(255, 247, 64);
    }
  }

  &:hover {
    .country_item {
      box-shadow: 2px 2px 17px #ffffff;
    }
  }
}


