
.nav {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 5em;
  background-color: #97cbff;
  box-shadow: 2px 2px 2px black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  .nav_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 5px;
  }

  .active {
    color: #ff0707;
    text-shadow: 2px 2px 4px red;
  }

  a {
    font-size: clamp(12px, 1.5vw, 22px);
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: none;
    padding: 10px;

    transition-duration: 0.5s;
    &::before,
    &:after {
      content: '|';
      margin: 5px 5px;
    }
  }

  a:hover {
    text-shadow: 2px 2px 4px red;
  }
}
