.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}
.App_container{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f9ff;
}
a{
  text-decoration: none;
  color: white;
}

button{
  border: none;
  padding: 8px;
  letter-spacing: 1.5px;
  background-color: transparent;
  transition-duration: 0.5s;
}
button:hover{
  background-color: rgba(0, 0, 0, 0.11);
}



