.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}
.App_container{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #FAF3CE;
}
a{
  text-decoration: none;
  color: white;
}

button{
  border: none;
  padding: 8px;
  letter-spacing: 1.5px;
  background-color: transparent;
  transition-duration: 0.5s;
}
button:hover{
  background-color: rgba(0, 0, 0, 0.11);
}
h3{
  letter-spacing: 2px;
  font-family: "Calibri Light" , sans-serif;
  position: sticky;
  left: 0;
  top: 4em;
  margin: 0;
  padding: 15px;
  background-color: rgb(199, 180, 104);

}
span{
  color: #f8f9ff;
}

